server:
  port: 9296

spring:
  application:
    name: configuration-service
  profiles:
    active: native

  cloud:
    config:
      server:
        git:
          uri: https://github.com/dinomov/alumni-config.git
          clone-on-start: true




